In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:

# Read the CSV files
ev_makers = pd.read_csv('electric_vehicle_sales_by_makers.csv', encoding='UTF-8-SIG')
ev_states = pd.read_csv('electric_vehicle_sales_by_state.csv', encoding='UTF-8-SIG')
dim_date = pd.read_csv('dim_date.csv', encoding='UTF-8-SIG')

In [3]:
from powerbiclient import QuickVisualize,Report,models
from io import StringIO
from powerbiclient.authentication import DeviceCodeLoginAuthentication

In [4]:
merged_df = pd.merge(ev_makers, dim_date, on='date')
merged_df.head(2)

,date,vehicle_category,maker,electric_vehicles_sold,fiscal_year,quarter
0,01-Apr-21,2-Wheelers,OLA ELECTRIC,0,2022,Q1
1,01-Apr-21,4-Wheelers,BYD India,0,2022,Q1

In [5]:
device_auth = DeviceCodeLoginAuthentication()

Performing device flow authentication. Please follow the instructions below.
To sign in, use a web browser to open the page https://microsoft.com/devicelogin and enter the code S6WBNZS8X to authenticate.

RuntimeError: Authentication failed. Try again.
Details: AADSTS70016: OAuth 2.0 device flow error. Authorization is pending. Continue polling. Trace ID: a7556fe1-5bcb-4965-bf52-dbfd835b0e00 Correlation ID: c196785b-3cd4-4889-9b42-7ec85d135df2 Timestamp: 2024-08-08 10:41:20Z

In [8]:
merged_dff = pd.merge(merged_df,ev_states, on='date')
merged_dff.head(2)

,date,vehicle_category_x,maker,electric_vehicles_sold_x,fiscal_year,quarter,state,vehicle_category_y,electric_vehicles_sold_y,total_vehicles_sold
0,01-Apr-21,2-Wheelers,OLA ELECTRIC,0,2022,Q1,Sikkim,2-Wheelers,0,398
1,01-Apr-21,2-Wheelers,OLA ELECTRIC,0,2022,Q1,Sikkim,4-Wheelers,0,361

In [ ]:
# Create a Power BI report from your data
PBI_visualize = QuickVisualize(get_dataset_config(df), auth=device_auth)

# Render the new report
PBI_visualize

In [5]:
class Deva:
    def name(self):
        print("My name is Devendra")

In [8]:
class Scaler:
    def CourseDetails(self): 
        print('Course Information')
obj = Scaler()
obj.CourseDetails()

Course Information

In [9]:
Scaler().CourseDetails()

Course Information